<ion-item-sliding>
  <ion-item lines="none" class="scan-item">
    <div class="item-container">

      <div class="info-column">

        <ion-thumbnail slot="start">
            <div class="barcode-icon-wrapper">
              <ion-icon name="barcode-outline"></ion-icon>
            </div>
        </ion-thumbnail>

        <h2 class="product-name">
          {{ item.productName || (item.status === 'error' ? 'Unknown Product' : 'Identifying...') }}
        </h2>

        <p class="item-details">
          <span class="barcode-badge">{{ item.barcode }}</span>
          <span class="separator">•</span>
          <span class="timestamp">{{ item.timestamp | date:'shortTime' }}</span>
        </p>

      </div>
      <!-- End of info-column div-->

      <div class="status-column">
        <ion-badge [color]="getStatusColor(item.status)" class="status-badge">
          {{ item.status | uppercase }}
        </ion-badge>


        <!------------retry button provided for error scanned items -------------->
        @if(item.status === 'error'){
          <ion-button fill="clear" color="danger" (click)="onRetry.emit(item)">
            <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
          </ion-button>
        }@else(){

        }
      </div>
      <!--End of status-column div-->

    </div>
    <!--End of item-container div-->
  </ion-item>

  <!------------------Swipe to delete scanned item----------------------------------->
  <ion-item-options side="end">
    <ion-item-option color="danger" expandable (click)="onDelete.emit(item.barcode)">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>

</ion-item-sliding>

