// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

body {
  /* Forces the content to stay within the visible screen area */
  padding-top: var(--ion-safe-area-top);
  padding-bottom: var(--ion-safe-area-bottom);
}
