/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

body {
  /* Forces the content to stay within the visible screen area */
  padding-top: var(--ion-safe-area-top);
  padding-bottom: var(--ion-safe-area-bottom);
}

body.scanning-active {
  --background: transparent !important;
  --ion-background-color: transparent;
  background: transparent !important;


  ion-app,
  ion-router-outlet,
  ion-content,
  ion-header,
  ion-toolbar,
  ion-tab-bar,
  .ion-page {
    --background: transparent !important;
    --ion-background-color: transparent !important;
    background: transparent !important;
    display: block; /* Ensure they don't collapse but stay clear */
  }

  /* Optional: Hide the home page content completely while scanning
    to ensure zero visual interference.
  */
  app-home, .main-list-container {
    display: none;
  }

  /* Hide elements that shouldn't be seen during scan */
  ion-header, ion-fab, .stats-container {
    display: none !important;
  }

}

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';
