<!-- Header section to show the app-name, sync count and remove scanned items -->
<ion-header class="ion-no-border">
  <div class="stats-container ion-padding">

    <!-- Header sub-div to align app name and trash icon to remove scanned items-->
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <h1 style="margin: 0; font-weight: 800;">ScanFlow Pro</h1>

      <!-- Check for scanned item list is greater than 0-->
      @if (scanState.totalCount() > 0) {
        <ion-button fill="clear" color="medium" (click)="confirmClear()">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      }@else {}
    </div>

    <!------- Syncing info div start------------->
    <div class="syncing-info">
      <!-- Show last synced time if done or show syncing message during sync call-->
      @if (scanState.isSyncing()) {
        <ion-spinner name="dots" color="warning" style="width: 20px; height: 20px;"></ion-spinner>
        <span class="syncing-text">Syncing...</span>
      }@else if(scanState.lastSynced()){
        <p class="last-synced-info">
          Last Synced: {{ scanState.lastSynced() | date:'mediumTime' }}
        </p>
      }
    </div>
    <!------- end of syncing info divs ------------>

    <!------------------------- End of header sub-div ------------------------->

    <!--------------- Ion-card info to show overall sync progress done-------------------------->
    <ion-card>
      <ion-card-content>
        <div class="progress-label">
          <ion-text color="medium">Overall Sync Progress</ion-text>
          <strong>{{ scanState.syncProgress() | percent }}</strong>
        </div>

        <ion-progress-bar [value]="scanState.syncProgress()"></ion-progress-bar>

        <ion-grid class="ion-no-padding ion-margin-top">
          <ion-row>
            <ion-col size="4" class="ion-text-center">
              <div class="synced-count">
                {{ scanState.syncedCount() }}
              </div>
              <div class="syncing-label">Synced</div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="error-count">
                {{ scanState.errorCount() }}
              </div>
              <div class="syncing-label">Errors</div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="pending-count">
                {{ scanState.pendingCount() }}
              </div>
              <div class="syncing-label">Pending</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <!--------------End of ion-card info ------------------------------------->
  </div>
  <!--------End of stats container info div -->
</ion-header>

<!------------------------------------- End of ion-header div------------------------->

<!------------------------ Content to show the scanned item list and pull to refresh functionality ------------------>
<ion-content>
  <!-- Pull to refresh functionality for updating scan items-->
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <!--Mock scan logic added for testing/running on browser-->
  @if (!isNative) {
    <div class="ion-padding">
      <ion-button expand="block" fill="outline" (click)="mockScanSuccess('12345')">
        Simulate Success Scan (12345)
      </ion-button>
      <ion-button expand="block" fill="outline" color="danger" (click)="mockScanError('99999')">
        Simulate Error Scan (99999)
      </ion-button>
    </div>
  }@else(){

  }

  <!----------------------------------------------->

  <ion-list>
    @for (item of scanState.scanList(); track item.barcode) {
      <app-scan-item [item]="item"
        (onRetry)="retrySync($event)"
        (onDelete)="deleteScannedItem($event)"></app-scan-item>
    } @empty {
      <div class="ion-padding ion-text-center" style="margin-top: 50px;">
        <ion-icon name="scan-outline" style="font-size: 64px; color: var(--ion-color-medium);"></ion-icon>
        <h3 style="color: var(--ion-color-medium);">No Scans Found</h3>
        <p>Tap the button below to start tracking inventory.</p>
      </div>
    }
  </ion-list>

</ion-content>

<!------------------End of ion-content div --------------------------------------------------->
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="startNewScan()">
    <ion-icon name="scan-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
